Repository svdC1/charloratools: changes, and which Codecov flags are due for each by the changed paths.
All: FilterAI Module, Utils, Scrapers, SysFileManager

Update README.md
  README.md
Due: none

Fix Readme
  README.md
Due: none

Fix codecov file
  codecov.yml
Due: none

Improve test suite
  src/charloratools/cli.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_filterai.py
  tests/test_sysfilemanager.py
  tests/test_utils.py
Due: none

Add community files
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
Due: none

Update SECURITY.md
  .github/SECURITY.md
Due: none

v1.0.3
  .coveragerc
  pyproject.toml
  setup.py
  src/charloratools/Scrapers.py
  src/charloratools/SysFileManager.py
  src/charloratools/errors.py
  src/charloratools/utils.py
  tests/conftest.py
  tests/test_filterai.py
  tests/test_sysfilemanager.py
  tests/test_utils.py
Due: Utils, Scrapers, SysFileManager

v1.0.4
  pyproject.toml
  src/charloratools/utils.py
  tests/conftest.py
  tests/test_filterai.py
  tests/test_utils.py
Due: Utils

v1.0.7
  README.md
  codecov.yml
  pyproject.toml
  setup.py
  src/charloratools/SysFileManager.py
  tests/conftest.py
  tests/test_scrapers.py
  tests/test_sysfilemanager.py
Due: SysFileManager

Update codecov config
  codecov.yml
Due: none

Path conditions:
  FilterAI Module: any of: src/charloratools/FilterAI**
  Utils: any of: src/charloratools/utils**
  Scrapers: any of: src/charloratools/Scrapers**
  SysFileManager: any of: src/charloratools/SysFileManager**
